<section class="container">
    <br/>
    <div class="row">
        <div class="col-md-4">
            <img src="img/koko_img.png" alt="" src="img-responsive">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7"><br/>
            <div class="jumbotron">
                <h1>404 Not Found.</h1>
                <p>Oops!, seems like the url you are trying to access doesn't exists.</p>
                <p><a href="#/" class="btn-link"></a>Home</p>
            </div>
        </div>
    </div>
</section>
