<section class="container">
    <div class="jumbotron">
        <div class="page-header">
            <h1>Skills - Users APIs POC</h1>
        </div>
        <p>In this tutorial, you will be able to understand how to interact with two of the most important apis that LiveEngage has.</p>
        <p>We meed to keep in mind that you need a solid understanding of how APIs Works, REST Architecture knowledge is Mandatory.</p>
        <!-- <p><a class="btn btn-lp btn-md" href="#" role="button">Learn more</a></p> -->
    </div>
</section>


<section class="container">
    <!-- AQUI SE DEBE EXPLICAR QUE SE NECESITA PARA:
     USAR LA API
     CONSUMIR LA API
     COMO MOSTRAR RESULTADOS Y DONDE SE REFLEJAN LOS RESULTADOS EN LIVE ENGAGE
 -->
</section>


<section class="container">

</section>
